.dark {
  background-color: #36394B!important;
}

.really-dark {
  background-color: #03061f!important;
}

.banner-background {
  background-color: #bbb!important;
}


.page-footer {
  padding-top: 0!important;
}

.brand-logo {
  background: url(./deepforge-logo.png) no-repeat 10px 12px;
  background-size: 75%;
  height: 60px;
  width: 200px;
  display: block;
}
